.wrap{
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}
.wrap button{
    width: 200px;
    height: 40px;
    margin-bottom: 20px;
}
.d-flex{
    display: flex;
}

.outlet{
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.outlet button{
    width: 100%;
}